@model Quejas_Proyecto.context.queja
<table class="responsive-table  striped">
    
        <tr>
            <th>Queja</th>
            <th>Fecha</th>
            <th>Comercio</th>
        </tr>
   

    @foreach (var queja in ViewBag.ListaQueja)
    {

     

            <tr>

                <td>@queja.queja1</td>
                <td>@queja.fecha_queja</td>
                <td>@queja.sucursal.comercio.nombre_comercio</td>
            </tr>

        


    }
</table>