@model Quejas_Proyecto.context.municipio
    <option value="">Seleccione Municipio</option>



    @if (ViewBag.MuniListSucursal != null)
    {
        foreach (var item in ViewBag.MuniListSucursal)
        {
           
                <option value="@item.Value">@item.Text</option>
           
        }
    }


