
@model IEnumerable<Quejas_Proyecto.context.Consulta>
@{
    ViewBag.Title = "Estadistica por Comercio";
}

<h2>@ViewBag.Title</h2>

<table class="responsive-table  striped">
    <tr>
        <th>
            CONTEO DE QUEJAS
        </th>

        <th>
            COMERCIO
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Queja
            </td>

            <td>
                @item.Comercio
            </td>
        </tr>
    }


</table>

